@model List<MPCV.DatabaseAccess.Blog.Post>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<div class="addPostDiv">
    <button id="addNewPostButton" type="button" class="btn btn-default" onclick="location.href ='@Url.Action("AddPost", "Blog")'">Add new blog post</button>
</div>

@foreach (var post in Model) {
    <div class="blogPost">
        <div class="panel panel-default clearfix">
            <div class="panel-heading panel-heading-blog">
                <h4>
                    @Html.ActionLink(post.Title, "BlogPost", "Blog", new {id = post.Id}, null)
                </h4>
                <br/>
                <span class="postCategory">
                    Category: @post.Category
                </span>
            </div>
            <div class="panel-body panel-height">
                @post.ShortDescription
                <br/>
            </div>
            <div class="commentsCountBlog">
                @(post.Comments?.Count ?? 0) <span class="glyphicon glyphicon-comment"></span>
            </div>
        </div>
    </div>
}