@using MPCV.DatabaseAccess.User
@model MPCV.DatabaseAccess.User.User
@{
    ViewBag.Title = "Programming Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.v3.min.js"></script>
<script type="text/javascript" src="../../Scripts/charts/uvcharts.js"></script>
<script type="text/javascript" src="../../Scripts/my scripts/Graphs.js"></script>

<div class="personalInformationDetails">
    <div class="personalInformation">
        <div class="personalInfoText">
            <h2>Podstawowe informacje</h2>
            <span class="personalInfo">
                Imię i nazwisko: @Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x => x.LastName)
            </span>
            <span class="personalInfo">
                Data urodzenia: @Html.Label(Model.Birthdate.ToString("d MMMM yyyy"))
            </span>
            <span class="personalInfo">
                Miejsce urodzenia: @Html.DisplayFor(x => x.PlaceOfBirth)
            </span>
            <span class="personalInfo">
                Adres: @Html.DisplayFor(x => x.CurrentAddress)
            </span>
            <span class="personalInfo">
                Adres e-mail: @Html.DisplayFor(x => x.EmailAddress)
            </span>
        </div>
    </div>
    <div class="personalEducation">
        <div class="personalInfoText">
            <h2>Wykształcenie</h2>
            @foreach (var activity in Model.Activities.Where(x => x.Category == ActivityCategory.Education).OrderByDescending(x => x.From))
            {
                <div class="fromToDate">
                    @Html.Label(activity.From.Year.ToString())
                    -
                    @Html.Label(activity.To.Year.ToString())
                </div>
                    <div class="activity">
                        @Html.Label(activity.Description)
                    </div>
            }
        </div>
    </div>
    <div class="personalExperience">
        <div class="personalInfoText">
            <h2>Doświadczenie</h2>
            @foreach (var activity in Model.Activities.Where(x => x.Category == ActivityCategory.Experience).OrderByDescending(x => x.From))
            {
                <div class="fromToDate">
                    @Html.Label(activity.From.Year.ToString())
                    -
                    @Html.Label(activity.To.Year.ToString())
                </div>
                    <div class="activity">
                        @Html.Label(activity.Description)
                    </div>
            }
        </div>
    </div>
    <div class="personalProgrammingSkills">
        <h2 class="personalInfo">ProgrammingSkills</h2>
        <div id="uv-div"></div>
    </div>
</div>

<script type="text/javascript">
    GraphHelper.programmingSkills();
</script>