<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Navbars.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Controls.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HomeStyles/Home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                <div id="main-layout-circle-image" class="circular-image"></div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">MPCV</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul id="side-panel-ul" class="nav navbar-nav">
                        <li>@Html.ActionLink("Personal info", "PersonalInfo", "Home", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Programming skills", "ProgrammingSkills", "Home", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Project examples", "ProjectExamples", "Home", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Github repository", "GithubRepository", "Home", new { area = "" }, new { })</li>
                        <li>@Html.ActionLink("Contact me", "Contact", "Home", new { area = "" }, new { })</li>
                    </ul>
                </div>
                <div class="signature">
                    <p>&copy; @DateTime.Now.Year - Mariusz Piątkowski</p>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 body-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/my scripts/MPCV.js"></script>
    <script src="~/Scripts/jquery/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/my scripts/Animations.js"></script>
</body>
</html>