<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Navbars.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Controls.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HomeStyles/Home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/MPCV.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 navbar-inverse sidebar">
                <div id="main-layout-circle-image" class="circular-image"></div>
                <ul id="side-panel-ul">
                    <li>
                        @Html.ActionLink("Personal info", "PersonalInfo", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Programming skills", "ProgrammingSkills", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Project examples", "ProjectExamples", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Github repository", "GithubRepository", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Download CV", "DownloadCv", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("Contact me", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-md-offset-2 body-content">
                @RenderBody()
            </div>
        </div>
        <footer class="col-md-offset-2 footer">
            <p>&copy; @DateTime.Now.Year - Mariusz Piątkowski</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>