@using System.Data.Entity
@using MPCV.DatabaseAccess
@using MPCV.Models.ApiModels
@using MPCV.Models.Converters
@model MPCV.DatabaseAccess.Blog.Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wholePost">
    <div class="panel panel-default clearfix">
        <div class="panel-heading panel-heading-blog">
            <h3>@Model.Title</h3>
            <br />
            <span class="postCategory">
                Category: @Model.Category
            </span>
            <span class="authorPost">
                by: @Model.Author, added @Model.Added.Date.ToShortDateString()
            </span>
        </div>
    </div>
    <div class="panel-body panel-height panel-post">
        @Html.Raw(Model.Content)
    </div>
    <div class="commentsPost"></div>
</div>