@model MPCV.DatabaseAccess.Blog.Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = @Model.Title.ToUpper() + " post";
}

<div class="wholePost">
    <div class="panel panel-default clearfix">
        <div class="panel-heading panel-heading-blog">
            <h3>@Model.Title</h3>
            <br/>
            <span class="postCategory">
                Category: @Model.Category
            </span>
            <span class="authorPost">
                by: @Model.Author, added @Model.Added.Date.ToShortDateString()
            </span>
        </div>
    </div>
    <div >
        @Html.Raw(Model.Content)
    </div>
</div>
<div class="addCommentSection">
    <div>
        @Html.Label("lblVisitorName", "Name")
        @Html.TextBox("tbVisitorName", string.Empty, new {@class = "form-control"})
    </div>
    <div>
        @Html.Label("lblComment", "Comment:")
        @Html.TextArea("taComment", string.Empty, new {@class = "form-control", @rows = 8, style = "resize: none; width: 100%;"})
    </div>
    <div>
        <button id="btnAddComment" type="button" class="btn btn-primary" style="float: right">Add comment</button>
    </div>
</div>
<h3>Comments:</h3>
<div class="commentsPost">
    @{
        if (@Model.Comments.Count > 0) {
            foreach (var comment in Model.Comments) {
                <div class="postComment">
                    <div class="postCommentHeader">
                        <p class="postCommentAuthor">@comment.Author - @comment.Added.ToShortDateString()</p>
                    </div>
                    <div class="postCommentBody">
                        <p class="postCommentText">@comment.Text</p>
                    </div>
                </div>
            }
        }
    }
</div>

@* ReSharper disable once ConstructorCallNotUsed *@
<script type="text/javascript">
    $(document).ready(function () {
        var config = {
            PostId: "@Model.Id",
            VisitorNameTextBoxId: "tbVisitorName",
            CommentTextAreaId: "taComment",
            AddCommentButton: "btnAddComment",
            AddCommentAddress: "@Url.Action("AddComment", "Blog")"
        }

        new BlogPost(config);
    });
</script>