@model MPCV.DatabaseAccess.Blog.Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wholePost">
    <div class="panel panel-default clearfix">
        <div class="panel-heading panel-heading-blog">
            <h3>@Model.Title</h3>
            <br/>
            <span class="postCategory">
                Category: @Model.Category
            </span>
            <span class="authorPost">
                by: @Model.Author, added @Model.Added.Date.ToShortDateString()
            </span>
        </div>
    </div>
    <div class="panel-body panel-height panel-post">
        @Html.Raw(Model.Content)
    </div>
</div>
<div class="commentsPost">
    @{
        if (@Model.Comments.Count > 0) {
            foreach (var comment in Model.Comments) {
                <div>
                    <p>@comment.Author - @comment.Added.ToShortDateString()</p>
                    <p>@comment.Text</p>
                </div>
            }
        }
    }
</div>