@model MPCV.DatabaseAccess.Blog.Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wholePost">
    <div class="panel panel-default clearfix">
        <div class="panel-heading panel-heading-blog">
            <h4>@Model.Title</h4>
            <br />
            <span class="postCategory">
                Category: @Model.Category
            </span>
            <span class="authorPost">
                by: @Model.Author, added @Model.Added.Date
            </span>
        </div>
    </div>
    <div class="panel-body panel-height panel-post">
        @Html.Raw(Model.Content.Replace("\r\n", "<br/>"));
        <br />
    </div>
    <div class="commentsPost"></div>
</div>